<div class="mb-5">
  <nav class="navbar fixed-top navbar-expand navbar-light bg-volante">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/vol-new-logo.jpeg" class="img-size" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        </ul>
        <label id="navbar-menu" style="color: white;margin-right: 20px;font-weight: 500;"> 
          Welcome, 
          <i class="fa fa-user spaced" aria-hidden="true"></i>
          {{this.global_vars.currentUser.userName}} &nbsp;{{this.global_vars.currentUser.userLastName}} &nbsp;&nbsp;&nbsp;.&nbsp;.&nbsp;.
          <div id="navbar-menu-options" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="/user-account">
            <label class="dropdown-item">
                My account
              </label>
            </a>
            <label class="dropdown-item">Options</label>
            <label class="dropdown-item">Other</label>
            <div class="dropdown-divider"></div>
            <label class="dropdown-item" (click)="this.logout()">Logout</label>
          </div>
        </label>
      </div>
    </div>
  </nav>
</div>

<div *ngIf="currentUrl=='/activate-account-verfication'">
  <nav class="navbar fixed-top navbar-expand navbar-light bg-activate-volante">
    <div class="container">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> <img src="assets/vol-login-new-logo2.png" class="img-size"
            alt="Volante Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </nav>
</div>