<div class="header">
    <app-header></app-header>
</div>
<div class="container">
    <div class="container-fluid">
    <div class="row">
        <div class="col-11 mx-auto">
            <div class="row">
                <div class="col">
                    <div class="py-5">
                        <div class="activate-name">Activate Your Account</div>
                        <div class="activate-padding">
                        <div class="activate-sentence">Kamala Web has invited you to Volante .</div>
                    </div>
                    <div class="activate-padding">
                        <div class="row">
                            <div class="col-2 col-md-1">
                                <div class="activate-sentence">Login</div>
                            </div>
                            <div class="col-10 col-md-11">
                                <div class="activate-field">email.address@company.com</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 col-md-1">
                                <div class="activate-sentence">Role</div>
                            </div>
                            <div class="col-10 col-md-11">
                                <div class="activate-field">ops.Manager</div>
                            </div>
                        </div>
                    </div>
                    <div class="activate-padding">
                        <div class="activate-sentence">Activate your account using the one-time-sign-in </div>
                        <div class="activate-sentence">code below: </div>
                    </div>
                    <div class="activate-padding">
                        <textarea class="form-control  area-height1"></textarea>
                    </div>
                    <div class="activate-padding">
                        <button class="bt-lg-login" routerLink="/activate-login">Activate Account</button>
                    </div>
                    </div>
                </div>
            </div>
            <div class="fixed-bottom pt-2 pb-2 text-center border-top setting d-none d-md-block  bg-activate-volante" >
              <div class="activate-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
            <div class="fixed-bottom pt-2 pb-2 text-center d-block d-md-none mob bg-activate-volante">
                <div class="activate-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
          
            </div>
        </div>
    </div>
</div>
</div>
            